<div class="d-flex aligns-items-center justify-content-center">
  <div class="col-lg-8 p-3 mt-4">
    <h1 class="mb-3 text-center"><%= t("activerecord.models.student").pluralize %></h1>

    <div data-controller="show-hide">

      <div class="col-md-4">
        <%= label_tag :select_a_school_class, t("students.index.select_a_school_class"), class: "form-label" %>
        <%= select_tag :school_class_id, options_from_collection_for_select(school_classes, :id, :name), class: "form-select mb-3", data: { action: "show-hide#change" } %>
      </div>

      <% if params[:school_class_id].present? %>
        <table class="table table-hover table-responsive hidden" data-target="hidden-content">

          <thead>
            <tr>
              <th scope="col"><%= t("activerecord.attributes.student.name") %></th>
              <th scope="col"><%= t("activerecord.attributes.student.identifier") %></th>
              <th/>
            </tr>
          </thead>

          <tbody>
            <% students.each do |student| %>

              <tr class="align-middle">
                <td>
                  <%= student.name %>
                </td>

                <td>
                  <%= student.identifier %>
                </td>

                <td class="align-middle text-end">
                  <%= link_to t("shared.buttons.edit"), edit_student_path(id: student.id),
                                                                          class: "text-decoration-none px-2" %>

                  <%= button_to t("shared.buttons.destroy"), student_path(id: student.id),
                                                                          method: :delete,
                                                                          class: "btn text-danger text-decoration-none px-2" %>
                </td>
              </tr>

            <% end %>
          </tbody>

        </table>
        <%= link_to t("shared.buttons.add"), new_student_path, class: "btn btn-primary" %>
        <%= link_to t("shared.buttons.back"), root_path, class: "btn btn-secondary mx-2" %>
      <% end %>
    </div>
  </div>
</div>
