<%= simple_form_for @student do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :name, required: false %>
    <%= f.input :identifier, required: false %>
    <%= f.association :school_class, prompt: true, required: false, input_html: { class: "form-select" }, collection: current_user.school_classes %>
  </div>

  <%= render FormActions::Component.new(form_object: f, back_path: students_path) %>
<% end %>
