<% @test.students.each do |student| %>
  <h1><%= @test.name %></h1>

  <div class="">
    <h2><%= student.name %></h2>
    <h2><%= @test.test_date.strftime("%d/%m/%Y") %></h2>
  </div>

  <% @test.questions.each do |question| %>
    <h2><%= question.body %></h2>

      <div class="">
        <% question.alternatives.each do |alternative| %>
          <p class=""><%= alternative.option %></p>
          <p class=""><%= alternative.body %></p>
        <% end %>
      </div>
  <% end %>
<% end %>

<style>

  .alternatives {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

</style>

