<%= simple_form_for resource, url: url, method: method do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :body, required: false, input_html: { style: "height: 125px" } %>
    <%= f.input :value, required: false %>
  </div>

  <%= render FormActions::Component.new(form_object: f) %>
<% end %>
