<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-3 border-bottom">
    <%= link_to vite_image_tag("images/logo.svg"), root_path, class: "px-2" %>

    <%= link_to root_path, class: "my-2 px-2 align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do %>
      <span class="fs-3 ">Scholare</span>
    <% end %>

    <% if @current_user %>
      <%= link_to root_path, class: "my-2 px-2 align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do %>
        <span class="fs-5">
          <%= t("nav.access_panel") %>
        </span>
      <% end %>
    <% end %>

    <ul class="nav nav-pills justify-content-center px-4">

      <% if @current_user %>

        <div class="dropdown my-2">
          <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" type="button">
            <%= @current_user.email %>
          </button>

          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to t("devise.registrations.edit.edit_account"), edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= button_to t("nav.sign_out"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>

      <% else %>

        <li class="nav-item">
          <%= link_to t("nav.sign_in"), new_user_session_path, class: "nav-link my-2" %>
        </li>
        <li class="nav-item">
          <%= link_to t("nav.sign_up"), new_user_registration_path, class: "nav-link active my-2" %>
        </li>
      <% end %>
    </ul>

  </header>
<div>
